<nav class="bg-white border-gray-200 dark:bg-blue-600">
  <div class="max-w-screen-xl flex items-center justify-between mx-auto p-4">
    <i class="fa-solid fa-arrow-left-long fa-2xl" style="color: white"><%= link_to '', root_path %></i>
    <div class="">
      <h2 class="text-2xl font-semibold text-center text-white">Log in</h2>
    </div>
    <div class="md:block md:w-auto">
      <ul class="font-medium float-right">
          <li>
            <%= link_to 'Log in', new_user_session_path, class: "block py-2 pl-3 pr-4 text-gray-900 font-2xl rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" %>
          </li>
      </ul>
    </div>
  </div>
</nav>
<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-start sm:py-12">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
      <div class="max-w-md mx-auto">

        <div class="divide-y divide-gray-200">
          <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="relative">
                <%= f.label :email, class: 'absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base
            peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5
            peer-focus:text-gray-600 peer-focus:text-sm' %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: 'Email', class: "peer placeholder-transparent
              h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:borer-rose-600" %>
              </div>
              <div class="relative">
                <%= f.label :password, class: "mt-4 absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440
                 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm"%><br />
                <%= f.password_field :password, autocomplete: "current-password",placeholder: 'Password',  class: 'peer placeholder-transparent h-10 w-full border-b-2 border-gray-300
                 text-gray-900 focus:outline-none focus:borer-rose-600'%>
              </div>
            <% end %>
            <div class="relative mt-4 flex justify-center">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
