<nav class="bg-white border-gray-200" style="background-color: #3778c2">
  <div class="max-w-screen-xl flex items-center justify-between mx-auto p-4">
    <%= link_to root_path do %>
      <i class="fa-solid fa-arrow-left-long fa-lg" style="color: white"></i>
    <% end %>
    <div class="">
      <h2 class="font-semibold text-center text-white uppercase">categories</h2>
    </div>
    <div class="md:block md:w-auto">
      <ul class="font-medium float-right">
        <li>
          <i class="fa-solid fa-magnifying-glass fa-lg" style="color: white"></i>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="h-screen px-5 overflow-scroll">
<!-- List categories here -->
<% @categories.each do |category| %>
    <% if can? :manage, category %>
      <%= link_to category_transactions_path(category) do %>
        <div class="flex flex-col">
          <!-- card -->
          <div v-for="card in cards" class="flex flex-row overflow-hidden
                                              bg-white rounded-lg shadow-xl mt-4 w-100 mx-2">
            <!-- media -->
            <div class="h-full w-auto">
              <%= image_tag category.icon, alt: 'Category Icon', class: "inset-0 w-full object-cover object-center" if category.icon.present?%>
            </div>
            <!-- content -->
            <div class="flex flex-col justify-evenly w-full py-4 px-3 text-gray-800">
              <div class="flex justify-between mt-8">
                <p class="font-semibold text-lg leading-tight truncate"><%= category.name %></p>
                <p class="font-semibold text-lg">$ <%= category.total_amount %></p>
              </div>
              <p class="text-sm text-gray-700 uppercase tracking-wide font-semibold mt-2">
                <%= time_ago_in_words(category.created_at) %> ago
              </p>
            </div>
            <p>
          </div>
        </div>
     <% end %>
      <%= button_to 'Delete', category, method: :delete, class: 'mr-[45%] ml-[45%]'%>
    <% end %>
  <% end %>
</div>
<footer class="flex justify-center items-center px-10 py-5" style="background-color: #5fb523">
  <div class="flex justify-center items-center w-full h-10 border-2 border-slate-200 rounded-md">
    <%= link_to 'Add a new category',new_category_path,class: "text-white text-lg font-semibold"%>
  </div>
</footer>