<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PiggyBank</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-screen">
  <%= render 'shared/navbar' %>
    <main class="container mx-auto pt-8 px-5 flex justify-start flex-col bg-gray-300">
      <p class="rounded-lg bg-success-100 text-base text-success-700"
         role="alert"><%= notice %></p>
      <p class="rounded-lg bg-danger-100 text-base text-danger-700"
         role="alert"><%= alert %></p>

      <%= yield %>
    </main>
  </body>
</html>
